<script type="text/javascript">
        $(document).ready(function() {
    		$("#div1").hide();
    		 
    	});
        function readURL() {
            if ($("#imageUrl").val()!='') {
            	 $('#image')
                 .attr('src', $("#imageUrl").val())
                 .width(150)
                 .height(200);
            }
        }
 </script>    
        <div class="container">
                        <!-- === END HEADER === -->
                        <!-- === BEGIN CONTENT === -->
                        <div class="row margin-vert-30">
                            <!-- Side Column -->
                            <div class="col-md-3">
                                <!-- Recent Posts -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Most Awarded Groups</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="posts-list margin-top-10">
                                            <li>
                                                <div class="recent-post">
                                                    <a href="">
                                                        <img class="pull-left" src="/ITravel/static/img/about-4.jpg" alt="thumb1">
                                                    </a>
                                                    <a href="#" class="posts-list-title">Rockers Group</a>
                                                    <br>
                                                    <span class="recent-post-date">
                                                        July 30, 2013
                                                    </span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <div class="recent-post">
                                                    <a href="">
                                                        <img class="pull-left" src="/ITravel/static/img/about-6.jpg" alt="thumb2">
                                                    </a>
                                                    <a href="#" class="posts-list-title">Dare Davils</a>
                                                    <br>
                                                    <span class="recent-post-date">
                                                        July 30, 2013
                                                    </span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <div class="recent-post">
                                                    <a href="">
                                                        <img class="pull-left" src="/ITravel/static/img/about-5.jpg" alt="thumb3">
                                                    </a>
                                                    <a href="#" class="posts-list-title">Travel Masti</a>
                                                    <br>
                                                    <span class="recent-post-date">
                                                        July 30, 2013
                                                    </span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li>
                                                <div class="recent-post">
                                                    <a href="">
                                                        <img class="pull-left" src="/ITravel/static/img/about-4.jpg" alt="thumb4">
                                                    </a>
                                                    <a href="#" class="posts-list-title">Spontaneous Group</a>
                                                    <br>
                                                    <span class="recent-post-date">
                                                        July 30, 2013
                                                    </span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End recent Posts -->
                                
                            </div>
                            <!-- End Side Column -->
                            <div style="position:static;"><h2>Add Group Details</h2><br/></div>
                            
                            <!-- Main Column -->
                           
								<form method="post" class="hotel-search-form" ng-submit="addGrpInfo()">
									
										<div class="left-to-right-div">							                
							                <input type='text' class="textInputleft" placeholder="Group Name" ng-model="grpName"/>
							                <span class="spanPadding">
							                <input type='text' class="textInputleft" placeholder="Group Type" ng-model="grpTypes"/>
							                </span>
							                <span class="spanPadding">
							                <span class="spanPadding">
							                <input type='text' class="textInputleft" id="imageUrl" placeholder="Group Pics" onchange="readURL();" ng-model="grpPics"/>
							                <span class="spanPadding">
												<img id="image" src="#" alt="your image" />
							                 </span>
							            </div>
							            
							            
							          	<div class="right-to-left-div">
							                   <input type='text' class="textInputRight" placeholder="Admin Name" ng-model="adminName"/>
							                   <span class="spanPadding">
							                   </span>
							                   
							            </div>
							           
							           <div class="left-to-right-div-area">
							            	<span class="spanPadding">
							                <textarea rows="4" cols="50"class ="textareaDesc" ng-model="grpDesp" placeholder="Few Words about Your Group"></textarea>
							                </span>
							            </div>
							            
							            <div class="buttonGrp">
						            			<button type="submit" name="submit" class="button-color">Add Group Details</button>
						           	    </div> 
							           							           						           
															
						            
								</form>
							
                            <!-- End Main Column -->
                        </div>
                        <!-- === END CONTENT === -->
                      
                    </div>
                    
             
        
     